In [4]:
import usaddress
import pandas as pd
import numpy as np
import collections

In [5]:
df = pd.read_excel('Test Data Texas2.xlsx')
df

,order date,entry person,old cust nbr,customer name,order type,invoice type,ship date,cap,division,ship mer amt,ship tax,ship to address1,ship to address2,ship to city,ship to state,ship to zip,Zip 5,County
0,2024-01-23,API,8802.0,AMAZON PS - LOC 2,CHG,SI,2024-01-23,1,12,21.77,0.00,353 anderson county road 2139,NaN,Palestine,TX,75801,75801,Anderson
1,2024-01-25,API,8813.0,AMAZON PS - LOC 4,CHG,SI,2024-01-26,1,12,116.18,0.00,1510 Fm 3224,NaN,Palestine,TX,75803-2169,75803,Anderson
2,2024-01-26,API,9934.0,WALMART MARKETPLACE PS LOC 4,CHG,SI,2024-01-29,1,12,45.96,0.00,2301 Country Club Rd,NaN,Palestine,TX,75803-8339,75803,Anderson
3,2024-01-22,API,8813.0,AMAZON PS - LOC 4,CHG,SI,2024-01-22,1,12,8.09,0.00,5765 E State Highway 294,NaN,Elkhart,TX,75839-3135,75839,Anderson
4,2024-01-23,INTERNET,NaN,C Jett oil tools,CASH,SI,2024-01-24,2,12,774.00,48.38,Attn: Corey Bruton,2277 Se 2800,Andrews,TX,79714-5771,79714,Andrews
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776,2024-01-09,API,8802.0,AMAZON PS - LOC 2,CHG,SI,2024-01-10,1,12,27.11,0.00,13116 Coriander Dr,NaN,Austin,TX,78729-6472,78729,Williamson
777,2024-01-13,INTERNET,NaN,Xavier Granados,CASH,SI,2024-01-15,2,12,58.96,4.86,109 N Tranquility Dr,NaN,La Vernia,TX,78121-5504,78121,Wilson
778,2024-01-02,EDI,9570.0,ZORO TOOLS PS - LOC 5,CHG,SI,2024-01-03,2,12,69.60,0.00,Buffie Pryor,1870 Illinois St,Rhome,TX,76078,76078,Wise
779,2024-01-23,INTERNET,NaN,A-1Escort Ser.,CASH,SI,2024-01-24,2,12,391.00,26.39,Attn: Randy Warnell,109 Private Road 1309,Bridgeport,TX,76426-6207,76426,Wise
780,2024-01-19,API,9934.0,WALMART MARKETPLACE PS LOC 4,CHG,SI,2024-01-19,1,12,63.36,0.00,824 Virginia St,NaN,Graham,TX,76450-3528,76450,Young

In [23]:
def combine_columns(row):
    return str(row['ship to address1'].fillna('')) + str(df['ship to address2'].fillna(''))

In [22]:
df['ship to address2'].fillna('')

0
1
2
3
4               2277 Se 2800
               ...
776
777
778         1870 Illinois St
779    109 Private Road 1309
780
Name: ship to address2, Length: 781, dtype: object

In [26]:
df['Combined'] = df.apply(combine_columns, axis=1)
df['Combined'].iloc[1]

'1510 Fm 32240                           \n1                           \n2                           \n3                           \n4               2277 Se 2800\n               ...          \n776                         \n777                         \n778         1870 Illinois St\n779    109 Private Road 1309\n780                         \nName: ship to address2, Length: 781, dtype: object'

In [50]:
for i in range(len(df)):
    print(df['ship to address1'].iloc[i] + ', ' + str(df['ship to address2'].fillna('').iloc[i]))

353 anderson county road 2139,
1510 Fm 3224,
2301 Country Club Rd,
5765 E State Highway 294,
Attn: Corey Bruton, 2277 Se 2800
1613 Se 3101,
907 PERISHING,
XXXXX,
XXXXX,
XXXXX,
XXXXX,
14151 W Fm 2790 S,
817 N Bryant St Ste C,
Attn: Jennifer Sullivan, 1324 Kloecker Rd
594 Upper Moffett Rd 113,
594 Upper Moffett Rd 113,
Attn: Jeff Wise, 660 Nw Loop 230
386 Highway 304,
Attn: Brandon Berdoll, 4754 Fm 535
1442 Old Mcdade Rd,
3712 E VETERANS MEMORIAL BLVD,
1226 East Us Hwy 190,
1822 Duce Spur,
710 Swanner Loop,
12502 Salado Springs Cir,
1333 Buena Vista St,
XXXXX,
XXXXX,
6100 Bandera Road Suite 304,
8802 Tradewind Dr, Apt 415

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [85]:
list_add = []
j = []
for i in range(len(df)):
    list_add.append(str(df['ship to address1'].iloc[i]) + ', ' + str(df['ship to address2'].fillna('').iloc[i]))
    try:
        j.append(usaddress.tag(list_add[-1])[0])
    except:
        j.append(collections.OrderedDict([('Recipient','bad')]))
new_df = pd.DataFrame(j)
new_df.head(10)

,AddressNumber,StreetNamePreType,StreetName,StreetNamePostType,StreetNamePreDirectional,Recipient,OccupancyType,StreetNamePostDirectional,OccupancyIdentifier,SubaddressIdentifier,BuildingName,StateName,ZipCode,PlaceName,SubaddressType,USPSBoxType,USPSBoxID
0,353,anderson county road,2139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1510,Fm,3224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2301,NaN,Country Club,Rd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5765,State Highway,294,NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2277,NaN,2800,NaN,Se,Attn: Corey Bruton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1613,NaN,3101,NaN,Se,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,907,NaN,PERISHING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,XXXXX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,XXXXX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,XXXXX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df['Street Address'] = new_df['AddressNumber'] + ' ' + new_df['StreetName'] + ' ' + new_df['StreetNamePostType']